* {
    font-family: 'Roboto Mono' , monospace;
}
header nav a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 200px;
    border-radius: 25px;
}

.history-and-facts {
    color: white;
    background-color:  #DDB9A3;
    width: 90%;

}
footer {
    background-color: #F9E7DC;
}

footer nav a {
    color: white;
    display: inline-block;
    margin: 20px 200px; 
    text-decoration: none;
    padding: 13px;
    text-align: center;
    border-radius: 25px;

}
h1 {
    font-family: 'Chelsea Market' , cursive;
    text-align: center;
}
main {
    margin: 0 auto;
    width: 590px;
}