* {
    font-family: 'Roboto Mono' , monospace;
}
header nav a {
    color: white;
    border: 3px solid black;
    display: inline-block;
    text-decoration: none;
    padding: 13px;
    text-align: center;
    box-sizing: border-box;
}

.history-and-facts {
    color: aqua;
    border: 5px solid blue;
    background-color:  #DDB9A3;
    width: 50;

}
footer nav a {
    color: white;
    border: 3px solid black;
    display: inline-block;
    margin: 1%; 
    min-width: 10px;
    text-decoration: none;
    padding: 13px;
    text-align: center;

}
h1 {
    font-family: 'Chelsea Market' , cursive;
}
main {
    margin: 0 auto;
    width: 590px;
}